{% extends 'base/base1.html' %}

{% block content %}

    <h5>Welcome, {{user}}👋</h5>
    <hr>

    <a class = "btn btn-outline-primary btn-sm" href = "add-employee"> New Employee &nbsp; <i class="fa fa-plus-square" aria-hidden="true"></i></a>
   
    <hr>

    <table class = "table table-hover table-bordered">

        <thead class = "table-light">

            <tr>
                <th scope = "col">SI NO</th>
                <th scope = "col">Name</th>
                <th scope = "col">Date Of Birth</th>
                <th scope = "col">Date Of Joining</th>
                <th scope = "col">Gender</th>
                <th scope = "col">Phone Number</th>
                <th scope = "col">Role</th>
                <th scope = "col">View</th>
            </tr>

        </thead>

        <tbody>

            {% if all_emp %}

                {% for emp,sn in all_emp %}
                
                
                <tr>
                    <td>{{ sn }}</td>
                    <td>{{ emp.first_name }} {{emp.last_name}}</td>
                    <td>{{ emp.dob }}</td>
                    <td>{{ emp.doj }}</td>
                    <td>{{ emp.gender }}</td>
                    <td>{{ emp.phone }}</td>


                    {% for rol in all_role %}
                        {% if emp.role_id == rol.id  %}

                            <td>{{ rol.role_name }}</td>
                        {% endif %}
                    {% endfor %}

                    <td> <a href= "{% url 'view-employee' emp.id %}">  <i class="fa fa-eye" aria-hidden="true"></i></a> </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>





    </table>



{% endblock %}